server {
    listen 80;
    server_name localhost;

    location /exampleapis/ {
        proxy_pass http://172.17.0.2:3000/;
    }
}
for an api ec2 instance, nginx has to be manually installed on the instance. Use this default config as a template when configuring nginx.  